/* import google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

/* default css start */
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    font-size: 14px;
}

a {
    text-decoration: none;
}

.py-100 {
    padding: 100px 0;
}

.section-padding {
    padding-top: 100px;
}

.section-margin {
    margin-top: 100px;
}

@media (max-width: 992px) {
    .section-padding {
        padding-top: 100px;
    }

    .section-margin {
        margin-top: 50px;
    }
}

.section-heading {
    max-width: 700px;
    margin: 0 auto;
}

/* default css end */

/* header top part css start */
.header-top-part {
    background-color: #FFB11F;
    padding: 10px 0;
}

.header-top-part .contact-icon a,
.header-top-part .socail-icon a {
    display: inline-block;
    color: white;
    padding: 0 10px;
}

.header-top-part .socail-icon i {
    font-size: 18px;
}

/* header top part css end */

/* navbar part css start */
.nav-link {
    font-size: 20px;
    margin: 0 8px;
    font-weight: 500;
    color: #FFB11F;
}

.nav-link:hover {
    color: #000000;
}

/* navbar part css end */

/* slider part css start */
.slider-part {
    background-image: url(./image/slider.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    padding: 100px 0;
}

.slider-text p {
    font-size: 18px;
    margin-top: 20px;
}

/* slider part css end */

/* about part css start */
.about-single {
    background-color: #FFB11F;
    transition: all 0.3s ease-in-out;
    padding: 25px 15px;
    border-radius: 6px;
    color: #ffffff;
}

.about-single:hover {
    transform: translateY(-10px);
}

.about-image img {
    transition: .3s all ease-in-out;
}

.about-single:hover img {
    transform: scale(1.1);
}

.about-text h3 {
    margin-top: 20px;
    font-size: 20px;
}

.about-text h1 {
    font-size: 30px;
}

/* about part css end */

/* service part start */
.service-icon {
    font-size: 50px;
    background-color: #FFB11F;
    border-radius: 50%;
    color: #7B7D7D;
    width: 100px;
    height: 100px;
    text-align: center;
    line-height: 100px;
}

.service-text h1 {
    font-size: 25px;
}

/* service part end */

/* product part css start */
.product-text h1 {
    font-size: 20px;
    margin-top: 15px;
    font-weight: bold;
}

.product-text i {
    color: #FFB11F;
}

.product-text h3 {
    margin-top: 10px;
}

.overlay {
    position: absolute;
    display: block;
    left: 0;
    width: 100%;
    opacity: 0;
    transition: .5s;
}

.product-con-main {
    transition: .3s all ease-in-out;
}

.product-con-main:hover .overlay {
    opacity: 1;
}

.product-con-main:hover {
    transform: translateY(-15px);
}

/* product part css end */

/* hero part css start */
.hero-part {
    background-color: #FFB11F;
}

.hero-text h1 {
    font-size: 40px;
    color: white;
}

.hero-text p {
    color: white;
    margin-top: 10px;
    font-size: 18px;
}

.hero h2 {
    font-size: 25px;
    color: #FFB11F;
}

.hero h3 {
    font-size: 20px;
}

/* hero part css end */

/* product-card  css start */
.product-card-text h1 {
    font-size: 22px;
    margin-top: 20px;
}

.product-card-main,
.product-card-image img {
    transition: .3s all ease-in-out;
}

.product-card-main:hover {
    transform: translateY(-10px);
}

.product-card-main:hover img {
    transform: scale(1.1);
}

.product-card-text i {
    color: #FFB11F;
}

.product-card-text h3 {
    font-size: 20px;
    margin-top: 8px;
    color: #FFB11F;
}

/* product-card css end */

/* food product css start */
.food-con-main {
    border: 1px solid rgb(221, 216, 216);
}

.food-image img {
    height: 150px;
    object-fit: cover;
    transition: 0.3s all ease;
    margin-top: 20px;
}

.food-text h1 {
    margin-top: 10px;
    font-size: 20px;
}

.food-text i {
    color: #FFB11F;
}

.food-text h5 {
    margin-top: 5px;
}

.food-con-main {
    position: relative;
    overflow: hidden;
    background: white;
    border-radius: 15px;
    transition: all 0.8s ease-in-out;
}

.food-con-main:hover {
    transform: translateY(-15px);
}

.team-overlay {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.671);
    opacity: 0;
    transition: opacity 0.5s ease;
}

.food-con-main:hover .team-overlay {
    opacity: 1;
}

.add-to-card {
    background-color: #fff;
    color: #566573;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;
    transition: background-color 0.5s ease, color 0.5s ease;
    margin-bottom: 10px;
}

.add-to-card:hover {
    background-color: #FFB11F;
    color: #fff;
    border: none;
}

/* food product css end */

/* client part css start */
#client .client-info h1 {
    font-size: 25px;
    margin-bottom: 0;
}

#client .client-info p {
    margin-bottom: 5px;
}

#client .client-image {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
}

#client .client-image img {
    object-fit: cover;
    width: 100px;
}
/* client part css end */

/* footer part css start */
.footer-product-text h1,
.footer-product-text h2 {
    font-size: 20px;
    color: white;
}
/* footer part end */